<ion-header>
  <ion-toolbar>
      <img class="logo-indor" src="../../assets/img/logo-indor.jpeg" alt="Logo Indoor">
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-title class="ion-text-center">Crear Cliente</ion-title>
    <ion-item>
      <ion-label stacked>Cedula/Nit</ion-label>
      <ion-input type="text" placeholder="Awesome Input"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Nombre/Razón social</ion-label>
      <ion-input type="text" placeholder="Awesome Input"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Correo</ion-label>
      <ion-input type="email" placeholder="Awesome Input"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Celular</ion-label>
      <ion-input type="number" placeholder="Awesome Input"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Dirección</ion-label>
      <ion-input type="text" placeholder="Awesome Input"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Ciudad</ion-label>
      <ion-input type="text" placeholder="Awesome Input"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Contraseña</ion-label>
      <ion-input type="password" placeholder="Awesome Input"></ion-input>
    </ion-item>
    <ion-button expand="full" >Crear Cliente</ion-button>
    <ion-button expand="full" fill="outline" (click)="volver()">Volver</ion-button>
  </ion-list>
</ion-content>
