<ion-header>
  <ion-toolbar>
      <img class="logo-indor" src="../../assets/img/logo-indor.jpeg" alt="Logo Indoor">
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="formulario" (ngSubmit)="crearUsuario(formulario.value)">
  <ion-list>
    <ion-title class="ion-text-center">Crear Cliente</ion-title>
    <ion-item>
      <ion-label stacked>Cedula/Nit</ion-label>
      <ion-input type="text" placeholder="" formControlName="cedula"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Nombre/Razón social</ion-label>
      <ion-input type="text" placeholder="" formControlName="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Correo</ion-label>
      <ion-input type="email" placeholder="" formControlName="email"></ion-input>
    </ion-item>
    <div *ngIf="validCorreo" class="alert alert-danger" role="alert">
      Correo requerido o invalido
  </div>
    <ion-item>
      <ion-label stacked>Celular</ion-label>
      <ion-input type="number" placeholder="" formControlName="celular"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Dirección</ion-label>
      <ion-input type="text" placeholder="" formControlName="direccion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Ciudad</ion-label>
      <ion-input type="text" placeholder="" formControlName="ciudad"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Contraseña</ion-label>
      <ion-input type="password" placeholder="" formControlName="password"></ion-input>
    </ion-item>
    <div *ngIf="validPasswordMin" class="alert alert-danger" role="alert">
      Password debe tener mas de 6 caracteres
  </div>
    <ion-button expand="full" type="submit" [disabled]="formulario.invalid">Crear Cliente</ion-button>
    <ion-button expand="full" fill="outline" type="button" (click)="volver()">Volver</ion-button>
  </ion-list>
</form>
</ion-content>
