<ion-header>
  <ion-toolbar>
    <img class="logo-indor" src="../../assets/img/logo-indor.jpeg" alt="Logo Indoor">
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-title class="ion-text-center" >Modificar Pedido</ion-title>
    <ion-item>
      <ion-label>OP</ion-label>
      <ion-input type="text" #opsearch  placeholder="Buscar OP a modificar"></ion-input>
    </ion-item>
    <br>
      <ion-button expand="full" (click)="onClick(opsearch.value)">
        Buscar Pedido
      </ion-button>
      <br>
       <ion-list *ngIf="(pedido$ | async) as user; else nopedido">
         <ion-item class="item-card" *ngFor="let pedido of pedido$ | async">
           <ion-row>
             <ion-col size="12"  text-center>
               <ion-card>
                 <ion-card-header>
                   <ion-card-title>Prenda: {{pedido.prenda.nombre_prenda}}</ion-card-title>
                   <ion-card-subtitle>Referencia: {{pedido.referencia}}</ion-card-subtitle>
                 </ion-card-header>
                 
                 <ion-card-content>
                  <ion-card-subtitle *ngIf="pedido.numero !== null">Numero: {{pedido.numero !== null ? pedido.numero : 'N/A' }} </ion-card-subtitle>
                  <ion-card-subtitle *ngIf="pedido.talla !== null">Talla: {{pedido.talla !== null ? pedido.talla : 'N/A' }}</ion-card-subtitle>
                  <ion-card-subtitle *ngIf="pedido.nombre_prenda !== null">Nombre: {{pedido.nombre_prenda !== null ? pedido.nombre_prenda : 'N/A' }} </ion-card-subtitle>
                 </ion-card-content>
                 <ion-card-content>
                   <ion-card-content>
                     <ion-img src="{{server}}{{pedido.imagen.url}}"></ion-img>
                   </ion-card-content>
                   <ion-card-content *ngIf="pedido.observaciones !== null">
                    {{pedido.observaciones !== null ? pedido.observaciones : 'N/A' }}
                  </ion-card-content>
                 </ion-card-content>
                 <ion-card-content>
                   <span>Estado: </span>  <ion-badge color="success">Diseño</ion-badge>
                 </ion-card-content>
                <ion-card-content>
                 <span>Fecha de creación:</span>  <ion-badge color="primary">{{pedido.created_at | date:"medium"}}</ion-badge>
                </ion-card-content>
                <ion-card-content>
                 <span>Fecha ultima modificación:</span>  <ion-badge color="primary">{{pedido.updated_at | date:"medium"}}</ion-badge>
                </ion-card-content>
               </ion-card>
             </ion-col>
           </ion-row>
         </ion-item>
         <div *ngIf="user.length === 0">
           <h3 class="text-center">No hay datos con ese OP</h3>
           <ion-img class="no-pedidos" src="assets/icon/undraw_no_data_re_kwbl.svg"></ion-img>
         </div>
         <div class="head">
           <p>talla</p>
           <p>numero</p>
           <p>prenda</p>
           <p>observaciones</p>
         </div>
         <div class="tabla" *ngFor="let item of especificacion">
          <div *ngFor="let data of item.especificacion">{{data.talla}}</div>
          <div *ngFor="let data of item.especificacion">{{data.numero}}</div>
          <div *ngFor="let data of item.especificacion">{{data.nombre_prenda}}</div>
          <div *ngFor="let data of item.especificacion">{{data.observaciones}}</div>
         </div>
       </ion-list>
      <br>
       <ng-template #nopedido>
         <h3 class="text-center">No hay Pedidos</h3>
         <ion-img class="no-pedidos" src="assets/icon/undraw_no_data_re_kwbl.svg"></ion-img>
       </ng-template>
       

      <ion-button *ngIf="isModificar" expand="full"  (click)="modificarPedido()">
        Modificar
      </ion-button>
      <ion-button expand="full" fill="outline" (click)="volver()">
        Volver
      </ion-button>

 </ion-list>
</ion-content>
