img{
    width: 100vw;
    height: 100px;
}

.ion-img-card{
    height: 250px;
}

.item-card{
    background-color: red;
}

.no-pedidos{
    height: 111px;
    width: 308px;

}

.tabla{
    display: flex;
    gap: 2em;
    justify-content: space-evenly;
}
.head{
    display: flex;
    gap: 2em;
    justify-content: space-evenly;
}
.head p{
    font-size: 11px;
}