<ion-header>
  <ion-toolbar>
    <img class="logo-indor" src="../../assets/img/logo-indor.jpeg" alt="Logo Indoor">
</ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formulario" (ngSubmit)="crearPrenda(formulario.value)" >
  <ion-list>
    <ion-title class="ion-text-center">Crear Prenda</ion-title>
    <ion-item>
      <ion-label>Nombre de la prenda</ion-label>
      <ion-input formControlName="nombre_prenda" type="text" placeholder="Ej: Camisa"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label > Añadir Referencia
        <ion-icon (click)="addReferencia()" slot="end" name="add-circle-outline"></ion-icon>
      </ion-label>
    </ion-item>
    <ng-container formArrayName="lessons">
      <ng-container *ngFor="let lessonsForm of lessons.controls; let i = index">
        <div [formGroupName]="i">
          <ion-item >
            <ion-input formControlName="referencia" type="text" placeholder="Referencia{{i+1}}"></ion-input>
          </ion-item>
        </div>
      </ng-container>
      </ng-container>
    
      <ion-button expand="full" type="submit" >
        Crear Prenda
      </ion-button>
      <ion-button expand="full" type="button" (click)="volver()"  fill="outline">
       Volver
      </ion-button>

</ion-list>
</form>
</ion-content>
