<ion-header>
  <ion-toolbar>
    <img class="logo-indor" src="../../assets/img/logo-indor.jpeg" alt="Logo Indoor">
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-title class="ion-text-center">Crear Pedido</ion-title>
    <ion-item>
      <ion-label stacked>OP</ion-label>
      <ion-input type="text" disabled [placeholder]="'XXXXXXXXXXXXXXX'"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Fecha de Creación</ion-label>
      <ion-input type="text" disabled [placeholder]="fechaCreacion.toLocaleString()" [value]="fechaCreacion.toLocaleString()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>IdCliente</ion-label>
      <ion-input type="texr" placeholder="Nit/Cedula"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Prenda</ion-label>
      <ion-select placeholder="Seleccione">
        <ion-select-option *ngFor="let prenda of prendas" [value]="prenda.id">{{prenda.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Referencia</ion-label>
      <ion-select placeholder="Seleccione">
        <ion-select-option *ngFor="let referencia of referencias" [value]="referencia.id">{{referencia.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Imagen</ion-label>
      <ion-button expand="full" (click)="f.click()">
        <ion-icon lazy="true" slot="start" name="image"></ion-icon>
        <ion-label slot="end">Subir foto</ion-label>
      </ion-button>
        <input class="ion-hide" #f type="file" (change)="loadImageFromDevice($event)" id="file-input"
          accept="image/png, image/jpeg">
    </ion-item>
    <ion-button expand="full" >Crear Pedido</ion-button>
    <ion-button expand="full" fill="outline" (click)="volver()">Volver</ion-button>
  </ion-list>
</ion-content>
