<ion-header>
  <ion-toolbar>
    <img class="logo-indor" src="../../assets/img/logo-indor.jpeg" alt="Logo Indoor">
</ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formulario" (ngSubmit)="crearPedido(formulario.value)" action="">
    <ion-list>
      <ion-title class="ion-text-center">Crear Pedido</ion-title>
      <ion-item>
      <ion-label stacked>OP</ion-label>
      <ion-input type="text" formControlName="OP" [disabled]="true" [value]="op" [placeholder]="op"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Fecha de Creación</ion-label>
      <ion-input type="text" [disabled]="true" [placeholder]="fechaCreacion.toLocaleString()" formControlName="fechaCreaciones" [value]="fechaCreacion.toLocaleString()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>IdCliente</ion-label>
      <ion-input type="texr" placeholder="Nit/Cedula" formControlName="cedula"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Prenda</ion-label>
      <ion-select placeholder="Seleccione" formControlName="prenda" (ionChange)="saberPrenda($event)">
        <ion-select-option *ngFor="let prenda of prendas$ | async" [value]="prenda.id" >{{prenda.nombre_prenda}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Referencia</ion-label>
      <ion-select placeholder="Seleccione" formControlName="referencia">
        <ion-select-option *ngFor="let referencia of referencia" [value]="referencia.referencia">{{referencia.referencia}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Imagen</ion-label>
      <ion-button *ngIf="!isImagen" class="btn-img" expand="full" (click)="f.click()">
        <ion-icon lazy="true" slot="start" name="image"></ion-icon>
        <ion-label slot="end">Subir foto</ion-label>
      </ion-button>
      <ion-item *ngIf="isImagen" >
        <ion-img class="btn-img" *ngFor="let item of imagen" (click)="f.click()" [src]="item"></ion-img>
      </ion-item>

      <input class="ion-hide" #f type="file" (change)="loadImageFromDevice($event)" id="file-input"
      accept="image/png, image/jpeg">
    </ion-item>
    <ion-button expand="full" type="submit" >Crear Pedido</ion-button>
    <ion-button expand="full" fill="outline" type="button" (click)="volver()">Volver</ion-button>
  </ion-list>
</form>
</ion-content>
