ion-content {
    --ion-background-color: #ffffff;
}

.logo-indor{
    height: 125px;
    width: 100%;
}

p {
    color: #fff;
    text-align: center;
    font-size: 35px;
}

.p-usuario {
    color: #fff;
}

ion-card {
    background-color: #ffffff;
    display: grid;
    gap: 4em;
}

ion-card-content {
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    border: 2px solid #000000;
    border-radius: 8px;
}



ion-icon {
    font-size: 65px;
    color: #fff;
}

.p-volver {
    font-size: 18px;
    text-decoration: underline;
    color: #000;
}