<ion-header [translucent]="true">
    <ion-toolbar>
        <img class="logo-indor" src="../../assets/img/logo-indor.jpeg" alt="Logo Indoor">
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <p>Ingresar como:</p>
    <ion-card>
        <ion-card-content class="card-usuario" (click)="ingresoUsuario()">
            <ion-icon slot="start" name="people-outline"></ion-icon>
            <p class="p-usuario">Usuario</p>
        </ion-card-content>
        <ion-card-content class="card-operador" (click)="ingresoOperador()">
            <ion-icon slot="start" name="settings-outline"></ion-icon>
            <p class="p-usuario">Operador</p>
        </ion-card-content>
        <ion-card-content class="card-admin" (click)="ingresoAdmin()">
            <ion-icon slot="start" name="server-outline"></ion-icon>
            <p class="p-usuario">Admin</p>
        </ion-card-content>
    </ion-card>
    <br>
    <br>
    <ion-card-title>
        <p (click)="volver()" class="p-volver">Volver</p>
    </ion-card-title>
</ion-content>