<ion-content>
  <form [formGroup]="formulario" (ngSubmit)="ingreso(formulario.value)">
  <h2>Corte Programación</h2>
  <ion-list>
    <ion-item>
      <ion-label>Correo</ion-label>
      <ion-input type="text" placeholder="ej:operacionesindoor@gmail.com" formControlName="identifier"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

      <ion-button  fill="full" type="submit" color="primary">
        <ion-icon slot="start" name="checkmark-outline" color="primary"></ion-icon>
       Ingresar
      </ion-button>
      <ion-button type="button" (click)="volver()"  fill="full" >
        <ion-icon slot="start" name="arrow-back-outline" color="primary"></ion-icon> 
       Volver
      </ion-button>
  </ion-list>
</form>
</ion-content>