.p-ingreso-usuario {
    color: #000000;
    text-align: center;
    font-size: 35px;
}

ion-button {
    text-align: center;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 8px;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
}

.p-volver {
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
}